{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>You have arrived at</h1><br>
  <h1>The Fake Family Album (FFA)</h1><br>

  <p>Photos from the 1400's and after.</p><br>
  <p></p><br>

  <img src="../static/Cameron.png" width="400">
  <p>Before he was a designer, Cameron was a time traveller that studied how strong people were in the past.</p>
  <br>
  <img src="../static/WilsonJules.png" width="400">
  <p>Wilson attending a fasion shoot with Jules.</p>


</div>
{% endblock %}
