{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>About Bellamy6ix</h1><br>
  
  <p>Established on July 14, 1990 by Paul and Elizabeth. The pair evolved into a group of three, then four, then five, and then six.  At this point they stopped adding to the number sequecing and the goup continues to add members.</p>br>
  <p>In 2022 and maybe even before the idea of a portal for sharing recipes came about. These site proves that dreams can come true.</p><br>
  <p>We all love good food.  We all love the Charlotte Football Club.  We all love to have fun!</p><br>
</div>
{% endblock %}