{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="text-centered">Welcome to the</h1>
  <h1 class="text-centered">Bellamy & Co</h1>
  <h1 class="text-centered">Tricked-Out Site for</h1>
  <h1 class="text-centered">Recipes and Other</h1>
  <h1 class="text-centered">Cool Stuff</h1><br>
  <p>Please select one of the links from the nav bar.</p><br>
  <p>More content will be coming soon!.</p><br>


  <img src="../static/Bellamys.png" width="400">
  <p>Woodlands - 2009</p>
</div>
{% endblock %}
